/* Estilos para el Footer */
footer {
  background-color: #333; /* Ajusta según tus necesidades */
  color: #fff; /* Ajusta según tus necesidades */
  padding: 10px;
  width: 100%;
}

  
  /* Cambios al pasar el mouse sobre los enlaces del Footer (si hay enlaces) */
  .footer a:hover {
    color: #ffd700;
  }
  